<div class="sidebar-heading"><%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf', align: "middle" %></div>
<div id="cart">
  <% if @cart %>
    <%= render @cart %>
  <% else %>
    <script>
        $("#wrapper").addClass("toggled");
        localStorage.setItem('revealed?', 'false')
    </script>
  <% end %>
</div>