<script>
    $(document).ready(function() {
        $('.modal').modal('show');
    });

</script>
<h1 id="title">Delete genre: <%= @genre.name %></h1>
<div class="row">
  <div class="col-md-12">
    <%= render 'genres/delete_confirmation_modal', genre: @genre %>
  </div>
</div>


