<h1 id="title">Genre: <%= @genre.name %></h1>
<div class="row genre-display-container h-50">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Genre description
      </div>
      <div class="card-body">
        <p><%= @genre.description %></p>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <%= button_to 'Back to genres', genres_path, method: :get %>
</div>
