<h1 id="title">Genre: <%= @genre.name %></h1>
<div class="row">
  <div class="col-md-12">
    <h4>Description</h4>
    <p><%= @genre.description %></p>
    <%= link_to 'Back to all genres', genres_path, method: :get %>
  </div>
</div>
