<div class="row justify-content-center">
  <div class="col-md-10" id="product-form-wrapper">
    <h1 id="title">Edit Product</h1>
    <div id="form"><%= render 'form', product: @product %></div>
    <%= link_to 'Back', products_url, method: :get %>
  </div>
</div>