<h1 id="title">Your Products</h1>
<div class="row" id="products">
  <table>
    <%= render @products %>
  </table>
  <br />
</div>
<div class="row">
  <%= link_to 'New product', new_product_path %>
</div>
