<h1 id="title">New Product</h1>

<div class="row justify-content-center">
  <div class="col-lg-6" id="new-product-form">
    <div id="form"><%= render 'form', product: @product %></div>
    <%= link_to 'Back', products_url, method: :get %>
  </div>

</div>
