var body = `
<p id="notice"><%= notice %></p>
<h1>Your Products</h1>
<table id="products">
  <%=j render @products %>
</table>
<br />
<%= link_to 'New product', new_product_path %>
`

$("#main").html(body);