var body = `
<h1 id="title">Your Products</h1>
<div class="row justify-content-end">
  <%= button_to new_product_path, class:"btn btn-success", id: "add-product-btn", method: :get do %>
    <i class='fas fa-plus-square'></i> New
  <% end %>

</div>

<div class="row">
  <div class="col-md-12">
    <table id="products-datatable" class="table table-striped table-bordered" style="width:100%">
      <thead>
      <tr>
        <th class="header">Id</th>
        <th class="header">Title</th>
        <th class="header">Image</th>
        <th class="header">Description</th>
        <th class="header">Price</th>
        <th class="header">Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render @products %>
      </tbody>
    </table>
  </div>
</div>
`


$("#main").html(body);
$("#notifications").html('<%=j render '/layouts/notifications', locals: { notice: flash[:notice], alert: flash[:alert]} %>')
if (! $.fn.DataTable.isDataTable('#products-datatable')) {
    var table = $('#products-datatable').DataTable({
        scrollY: "600px",
        scrollX: true,
        scrollCollapse: true,
        fixedColumns: {
            leftColumns: 2
        },
        select: {
            style: 'single',
            selector: 'td:not(:last-child)'
        }
    });
    table.on('select', (e, dt, type, index) => {
        console.log(table.rows(index).data().toArray()[0][0])
        var product_id = table.rows(index).data().toArray()[0][0]
        window.location.replace('<%= products_url %>' + '/' + product_id);
    });
    setTimeout(() => {
        table.columns.adjust().draw();
    }, 50)
    document.addEventListener("turbolinks:before-cache", function() {
        table.destroy();
    })
}