<h3>Dear <%= @order.name %></h3>

<p>Thank you for your recent order from The Pragmatic Store.
  You ordered the following items:</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Qty</th>
      <th>Title</th>
      <th>Total price</th>
    </tr>
  </thead>
  <tbody>
    <%= render @order.line_items -%>
  </tbody>
</table>
<p>We'll send you a separate e-mail when your order ships.</p>