<h3>Pragmatic Order Shipped</h3>
<p>
  This is just to let you know that we've shipped some items from your recent order:
</p>

<table>
  <thead>
  <tr>
    <th>Qty</th>
    <th>Title</th>
    <th>Total price</th>
  </tr>
  </thead>
  <tbody>
  <%= render @order.ordered_line_items_of_user(@seller) -%>
  </tbody>
</table>
