// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body.genres {
  #add-genre-btn {
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .genre-display-container {
    min-height: 200px;
  }
}

