// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.orders {
  .a-primary {
    color: dodgerblue;
  }

  table.dataTable td, th {
    font-size: 110%;
  }

  .back-btn {
    margin-top: 10px;
  }

  #filter-form-button {
    margin-bottom: 20px;
  }

  .form-group#pay_type_select {
    width: 200px;
  }

  .modal-body {
    .field {
      max-width: 300px;
    }
  }
}