// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.orders {
  .a-primary {
    color: dodgerblue;
  }

  #filter-form-button {
    margin-bottom: 20px;
  }

  .form-group#pay_type_select {
    width: 200px;
  }

  .order-show {
    .order-ship-col {
      width: 300px;
      .order-ship-btn {
        margin-top: 10px;
        float: right;
      }
    }

    .orders-back-link {
      margin-top: 50px;
    }
  }
}