// Place all the styles related to the products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

body.products {
  #new-product-form {
    padding-left: 200px;
    width: 200px;
  }

  table.dataTable td, th {
    font-size: 110%;
  }

  #add-product-btn {
    margin-bottom: 10px;
    margin-right: 20px;
  }

}

