// Place all the styles related to the products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

body.products {
  #product-form-wrapper {
    padding-left: 200px;
    width: 200px;
    margin-bottom: 10%
  }

  #form {
    .submit-btn {
      margin-top: 3%
    }

    #best-seller-rankings {
      margin-bottom: 20px;
    }
  }

  #add-product-btn {
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .image-carousel {
    .carousel-control {
      background: black;
    }

    .product-image {
      width: 100%;
      margin: auto;
    }

    .carousel.no-image {
      background: $dark;
      height: 100%;
    }
  }

  //For show product page
  .product-display {
    #seller-line {
      border-bottom: 1px solid black;
    }
    .add-to-cart-btn {
      background-color: $dark;
      border-color: white;
      color: $light;
    }
  }

}

