// Place all the styles related to the Store controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

body.store {
  .product-card{
    background: $gray-200;

    .product-image {
      max-width: 100%;
      height: auto;
      align-self: center
    }

    .add-to-cart-btn {
      background-color: $dark;
      border-color: white;
      color: $light;
    }

    .price {
      font-size: 1.75rem;
      margin-top: 20px;
    }
  }

  .product-card:hover {
     background-color: $gray-300;
   }
}